<!DOCTYPE html>
<html>

  <head>
    <title>Atelihub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->


  </head>

  <body>
    <%= yield %>
  </body>
</html>
